body{
    background-size: cover;
    background-image: url(bg.jpg);
}
.containers{
    padding: 40px;
    margin-left: 40%;
    font-family: Amita;
    color:rgb(236, 65, 65) ;
}
.containers-header{
    text-align: center;
    color: rgb(236, 65, 65);
    font-family: Aldrich;    
}